.divClass h1 {
    color: brown;
}

#thirdDiv {
    background-color: aqua;
    height: 600px;
    width: 500px;
    border: 2px, dotted, red, inherit;
}

#thirdDiv img {
    width: 400px;
    padding: 50px;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}